body{
    background-color: rgb(237, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.largeTitle{
    font-size:40px;
    font-weight:bold;
    margin:0;
    padding:0;
}
.container{
    max-width:600px;
    width: 100%;
    margin: auto;
}
.section-score{
    display: flex;
    justify-content: space-evenly;
    font-size:1em;
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 20px;
}
#currentScore, #highScore{
    width:30px;
}
.section-a{
    background-color: rgb(237, 237, 237);
    color: #222;
    padding: 20px;
    text-align: center;
}
.section-b{
    display: flex;
    background-color: rgb(34, 34, 34);
    color: #222;
    padding: 10px;
}
.col{
    width:50%;
    /* background: rgb(19, 19, 19); */
    padding:5px;
    color:white;
}
.points{
    background-color: rgb(255, 255, 255);
    height:48px;
    width:48px;
    color:#333;
    padding:0px;
    margin-bottom:0px;
    font-size:20px;
    line-height: 50px;
    font-weight:bold;
    text-align: center;
    border: 1px solid black;
}
.description{
    font-weight: normal;
    font-size: 12px;
    height: 38px;
    padding:6px;
    letter-spacing: 2px;
}.description b{
    color:rgb(140, 221, 255);
}
#sbBtn1, #sbBtn2, #sbBtn3, #sbBtn4, #sbBtn5, #sbBtn6,
#sbBtnChance{
    width:50px;
    height:50px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}
#sbBtn1{background-image: url('img/steen1.png');}
#sbBtn2{background-image: url('img/steen2.png');}
#sbBtn3{background-image: url('img/steen3.png');}
#sbBtn4{background-image: url('img/steen4.png');}
#sbBtn5{background-image: url('img/steen5.png');}
#sbBtn6{background-image: url('img/steen6.png');}
#sbBtnChance{background-image: url('img/perspective-dice-six-faces-random.png');}

.section-c{
    background-color: rgb(160, 160, 160);
    color: #222;
    padding: 10px;
}

.diceBar{
    display: flex;
    justify-content: space-evenly;
}
#debug{
    display: flex;
    flex-direction: row;
}
.steenElement{
    background-color: white;
    color:black;
    border: 1px solid black;
    /* padding:15px; */
    margin:5px;
    border-radius:5px;
    width:50px;
    height:50px;
    
}
.die{
    width:20%;
    padding:10px;
}

.actionBar{
    display: flex;
}
.action{
    width:50%;
}
#action1{
    width:100%;
    background: rgb(190, 224, 244);
    padding:10px;
    border:10px solid black;
}
#action2{
    width:100%;
    background: rgb(138, 164, 138);
    padding: 10px;
    border:10px solid black;
    display: none;
}
#action1:focus{
    outline: none;
}

.footer{
    text-align: center;
    color: #333;
    padding:20px;
}














/**/
.dieBtn{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: large;
}

.dieBtnActive{
    background-color: crimson;
    color: ghostwhite;
}

#assignScoreBtn{
    display: none;
}